In [91]:
from sklearn import tree
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import numpy as np
%matplotlib inline

In [92]:
data = pd.DataFrame({'X_1': [1, 1, 1, 0, 0, 0, 0, 1],\
                     'X_2': [0, 0, 0, 1, 0, 0, 0, 1],\
                     'Y': [1, 1, 1, 1, 0, 0, 0, 0]})

In [93]:
data

   X_1  X_2  Y
0    1    0  1
1    1    0  1
2    1    0  1
3    0    1  1
4    0    0  0
5    0    0  0
6    0    0  0
7    1    1  0

In [94]:
clf = tree.DecisionTreeClassifier(criterion='entropy')

In [95]:
clf

DecisionTreeClassifier(criterion='entropy')

In [96]:
X = data[['X_1', 'X_2']]
Y = data.Y

In [97]:
clf.fit(X,Y)

DecisionTreeClassifier(criterion='entropy')

In [98]:
cat = pd.read_csv('cats.csv')
cat['type'] = [0,0,0,0,1,1,1,1,1,1]
cat

   Unnamed: 0  Шерстист  Гавкает  Лазает по деревьям      Вид  type
0           0         1        1                   0  собачка     0
1           1         1        1                   0  собачка     0
2           2         1        1                   0  собачка     0
3           3         1        1                   0  собачка     0
4           4         1        0                   1    котик     1
5           5         1        0                   1    котик     1
6           6         1        0                   1    котик     1
7           7         1        0                   1    котик     1
8           8         1        1                   1    котик     1
9           9         0        0                   1    котик     1

In [99]:
dc2 = cat['Гавкает'] # dc- data cat
dc1 = cat['Шерстист']
dc3 = cat['Лазает по деревьям']
dc4 = cat.type

dc4

0    0
1    0
2    0
3    0
4    1
5    1
6    1
7    1
8    1
9    1
Name: type, dtype: int64

In [157]:
def enropia(dcl):
    t = []
    if type(dcl) != type(t):
        dcl = dcl.to_list() # dcl = data cats list
        print('Now dcl is list')
    p1 = dcl.count(1)/len(dcl)
    p0 = 1 - p1 #dcl.count(0)/len(dcl)
    print('p1 = ', p1)
    print('p0 = ', p0)
    # E1 - for 0, E2 - for 1
    if p0 == 0:
        E0 = 0
    else:
        E0 =(p0*np.log2(p0))
    if p1 == 0:
        E1 = 0
    else:
        E1 = (p1*np.log2(p1))
    print('E0 = ', E0)
    print('E1 = ', E1)
    E = - E0 - E1
    print('E = ', E)
    return E

def slip_f(dc, y):
    dcl = dc.to_list()
    y_x = y.to_list()
    X_1 = [] # i > 1/2
    X_2 = [] # i < 1/2
    for i in range(len(dcl)):
        
        if dcl[i] > 0.5:
            X_1.append(y_x[i])
        elif dcl[i] < 1/2:
            X_2.append(y_x[i])
            
    return X_1, X_2        

def entr_p_m(X_1, X_2):
    print('X_1 = ', X_1)
    Ep = enropia(X_1)
    print('Ep = ', Ep)
    print('X_2 = ', X_2)
    Em = enropia(X_2)
    print('Em = ', Em)
    
    return Ep,Em

In [159]:
Entropy_1 = entr_p_m(slip_f(dc1,dc4)[0],slip_f(dc1,dc4)[1])
Entropy_2 = entr_p_m(slip_f(dc2,dc4)[0],slip_f(dc2,dc4)[1])
Entropy_3 = entr_p_m(slip_f(dc3,dc4)[0],slip_f(dc3,dc4)[1])

X_1 =  [0, 0, 0, 0, 1, 1, 1, 1, 1]
p1 =  0.5555555555555556
p0 =  0.4444444444444444
E0 =  -0.5199666673076944
E1 =  -0.4711093925305278
E =  0.9910760598382222
Ep =  0.9910760598382222
X_2 =  [1]
p1 =  1.0
p0 =  0.0
E0 =  0
E1 =  0.0
E =  0.0
Em =  0.0
X_1 =  [0, 0, 0, 0, 1]
p1 =  0.2
p0 =  0.8
E0 =  -0.2575424759098898
E1 =  -0.46438561897747244
E =  0.7219280948873623
Ep =  0.7219280948873623
X_2 =  [1, 1, 1, 1, 1]
p1 =  1.0
p0 =  0.0
E0 =  0
E1 =  0.0
E =  0.0
Em =  0.0
X_1 =  [1, 1, 1, 1, 1, 1]
p1 =  1.0
p0 =  0.0
E0 =  0
E1 =  0.0
E =  0.0
Ep =  0.0
X_2 =  [0, 0, 0, 0]
p1 =  0.0
p0 =  1.0
E0 =  0.0
E1 =  0
E =  -0.0
Em =  -0.0

In [169]:
E_Y = enropia(dc4) # Энтропия исходная

def entr_y_x(dc, y): # Энтропия E(Y|X)
    #dcl = dc.to_list()
    y_x = y.to_list()
    p = slip_f(dc,y)[0]
    m = slip_f(dc,y)[1]
    n_1 = len(p)
    n_2 = len(m)
    N = len(y_x)
    E_p_m = entr_p_m(p,m)
    print('E_p_m = ', E_p_m)
    
    E = (n_1 / N * E_p_m[0]) - (n_2 / N * E_p_m[1])
    
    return E

E_Y_X1 = entr_y_x(dc1,dc4)
E_Y_X2 = entr_y_x(dc2,dc4)
E_Y_X3 = entr_y_x(dc3,dc4)

print('\n\nIG1 = ', E_Y - E_Y_X1)
print('\n\nIG2 = ', E_Y - E_Y_X2)
print('\n\nIG3 = ', E_Y - E_Y_X3)

Now dcl is list
p1 =  0.6
p0 =  0.4
E0 =  -0.5287712379549449
E1 =  -0.44217935649972373
E =  0.9709505944546686
X_1 =  [0, 0, 0, 0, 1, 1, 1, 1, 1]
p1 =  0.5555555555555556
p0 =  0.4444444444444444
E0 =  -0.5199666673076944
E1 =  -0.4711093925305278
E =  0.9910760598382222
Ep =  0.9910760598382222
X_2 =  [1]
p1 =  1.0
p0 =  0.0
E0 =  0
E1 =  0.0
E =  0.0
Em =  0.0
E_p_m =  (0.9910760598382222, 0.0)
X_1 =  [0, 0, 0, 0, 1]
p1 =  0.2
p0 =  0.8
E0 =  -0.2575424759098898
E1 =  -0.46438561897747244
E =  0.7219280948873623
Ep =  0.7219280948873623
X_2 =  [1, 1, 1, 1, 1]
p1 =  1.0
p0 =  0.0
E0 =  0
E1 =  0.0
E =  0.0
Em =  0.0
E_p_m =  (0.7219280948873623, 0.0)
X_1 =  [1, 1, 1, 1, 1, 1]
p1 =  1.0
p0 =  0.0
E0 =  0
E1 =  0.0
E =  0.0
Ep =  0.0
X_2 =  [0, 0, 0, 0]
p1 =  0.0
p0 =  1.0
E0 =  0.0
E1 =  0
E =  -0.0
Em =  -0.0
E_p_m =  (0.0, -0.0)


IG1 =  0.07898214060026854


IG2 =  0.6099865470109874


IG3 =  0.9709505944546686